*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width: 1170px;
    margin: 0px auto;
}
.supp-container{
    padding: 0px 15px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
