.orange-button{
    background-color: #ff8261;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: white;
    outline: none;
    border: none;
    font-size: 13.5px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;
}
.orange-button:hover{
    background-color: #52cbf8;
    transition: 0.3s;
}
.orange-button:active{
    background-color: #52ccf89a;
    transition: 0.3s;
}